<footer id="footer" class="background-dark text-grey">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget clearfix widget-categories">
                        <h4 class="widget-title">КНИГИ</h4>
                        <ul class="list list-arrow-icons">
                            <li> <a title="" href="/magiya-utra-skachat">Магия утра скачать</a> </li>
                            <li> <a title="" href="/magiya-utra-skachat">Клуб "5 часов утра" скачать</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget clearfix widget-categories">
                        <h4 class="widget-title">КЛУБ</h4>
                        <ul class="list list-arrow-icons">
                            <li> <a href="/pravila-kluba">Правила клуба</a> </li>
                            <li> <a href="/intro">Материалы</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget clearfix widget-categories">
                        <h4 class="widget-title">КОНТАКТЫ</h4>
                        <ul class="list list-arrow-icons">
                            <li><a href="tel:+996557996009">0557-996009</a></li>
                            <li><a>talantbekov123@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="copyright-text text-center"> © 2021 BEAST BOLOM</div>
            </div>
        </div>
    </div>
</footer>