<!--
<div id="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="top-menu">
                    <li><a href="#">Phone: +1 (234) 567-890</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->

<%- include('../metriks/facebook-pixel.ejs', {path: './' }); %>
<%- include('../metriks/yandex-metriks.ejs', {path: './' }); %>

<header id="header" class="dark">

    <div class="header-inner">

        <div class="container">

            <div id="logo">
                <a href="/">
                    <span class="logo-default">
                        5AM BISHKEK CLUB
                    </span>
                    <span class="logo-dark" style="font-size: 20px;">5AM BISHKEK CLUB</span>
                </a>
            </div>

            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>


            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li class="mega-menu-item"><a href="/">ГЛАВНАЯ</a>
                            </li>
                            <li class="mega-menu-item"><a href="/pravila-kluba">ПРАВИЛА КЛУБА</a>
                            </li>
                            <li class="mega-menu-item"><a href="/groups">УЧАСТНИКАМ</a>
                            </li>
                            <li class="mega-menu-item"><a href="/magiya-utra-skachat">КНИГИ</a>
                            </li>
                            <li class="mega-menu-item"><a href="tel:+996557996009">0557-996009</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>