<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="BEAST BOLOM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Магия утра аудиокнига | Скачать бесплатно</title>
    <meta name="description"
        content="Ниже список эл. и аудио книг. Если есть определенная книга которая может быть полезна для сообщества, напишите название книги нам. Мы добавим эл. и аудио версию книги если она будет соответствовать ценностям клуба.">
    <link rel="icon" type="image/png" href="custom/icon.png">

    <link rel="stylesheet" type="text/css" href="./homepages/lawyer/css/lawyer-style.css" media="screen" />
    <script src="./js/jquery.js"></script>
    <link href="./css/plugins.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
        <%- include('./components/header.ejs', {path: './' }); %>


            <section>
                <div class="container">


                    <div class="row m-b-40">
                        <div class="col-lg-12">
                            <div class="heading-text heading-line text-left">
                                <h4>МАГИЯ УТРА</h4>
                            </div>
                            <div class="blockquote">
                                <small>Как первый час дня определяет ваш успех (Хэл Элрод)</small>
                            </div>
                            <div>
                                <a target="_blank" href="https://disk.yandex.ru/d/WTMAUOYGEa9Evw" class="btn btn-outline"><i
                                        class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/WTMAUOYGEa9Evw" class="btn btn-outline"><i
                                        class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/WTMAUOYGEa9Evw" class="btn btn-outline"><i
                                        class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/WTMAUOYGEa9Evw" class="btn btn-outline"><i
                                        class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>


                    </div>

                    <div class="row m-b-40">

                        <div class="col-lg-6">
                            <div class="heading-text heading-line text-left">
                                <h4>КЛУБ "5 ЧАСОВ УТРА"</h4>
                            </div>
                            <div class="blockquote">
                                <small>Секрет личной эффективности от монаха, который продал свой «феррари» (Робин
                                    Шарма)</small>
                            </div>
                            <div>
                                <a target="_blank" href="" class="btn btn-outline"><i class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="" class="btn btn-outline"><i class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="" class="btn btn-outline"><i class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="" class="btn btn-outline"><i class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>
                    </div>


                    <div class="row m-b-40">

                        <div class="col-lg-6">
                            <div class="heading-text heading-line text-left">
                                <h4>НА ПРЕДЕЛЕ</h4>
                            </div>
                            <div class="blockquote">
                                <small>Неделя без жалости к себе (Эрик Бертран Ларссен)</small>
                            </div>
                            <div>
                                <a target="_blank" href="https://disk.yandex.ru/d/zjLe9EWX3v56Qw?w=1" class="btn btn-outline"><i class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/zjLe9EWX3v56Qw?w=1" class="btn btn-outline"><i class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/zjLe9EWX3v56Qw?w=1" class="btn btn-outline"><i class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/zjLe9EWX3v56Qw?w=1" class="btn btn-outline"><i class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>
                    </div>


                    <div class="row m-b-40">

                        <div class="col-lg-6">
                            <div class="heading-text heading-line text-left">
                                <h4>ДОСТАВЛЯЯ СЧАСТЬЕ</h4>
                            </div>
                            <div class="blockquote">
                                <small>От нуля до миллиарда: история создания выдающейся компании из первых рук (Тони
                                    Шей)</small>
                            </div>
                            <div>
                                <a target="_blank" href="https://disk.yandex.ru/d/PfMGWVD1RyaBHg?w=1" class="btn btn-outline"><i class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/PfMGWVD1RyaBHg?w=1" class="btn btn-outline"><i class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/PfMGWVD1RyaBHg?w=1" class="btn btn-outline"><i class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/PfMGWVD1RyaBHg?w=1" class="btn btn-outline"><i class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>
                    </div>

                    <div class="row m-b-40">

                        <div class="col-lg-6">
                            <div class="heading-text heading-line text-left">
                                <h4>ВАЖНЫЕ ГОДЫ</h4>
                            </div>
                            <div class="blockquote">
                                <small>Почему не стоит откладывать жизнь на потом (Мэг Джей)</small>
                            </div>
                            <div>
                                <a target="_blank" href="https://disk.yandex.ru/d/EzBalRDyvxRtPQ?w=1" class="btn btn-outline"><i class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/EzBalRDyvxRtPQ?w=1" class="btn btn-outline"><i class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/EzBalRDyvxRtPQ?w=1" class="btn btn-outline"><i class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/EzBalRDyvxRtPQ?w=1" class="btn btn-outline"><i class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>
                    </div>

                    <div class="row m-b-40">

                        <div class="col-lg-6">
                            <div class="heading-text heading-line text-left">
                                <h4>КАК ПРИВЕСТИ ДЕЛА В ПОРЯДОК</h4>
                            </div>
                            <div class="blockquote">
                                <small>Искусство продуктивности без стресса (Дэвид Аллен)</small>
                            </div>
                            <div>
                                <a target="_blank" href="https://disk.yandex.ru/d/iDpSJ7faN1E5Ww?w=1" class="btn btn-outline"><i
                                        class="fa fa-download"></i>EPUB</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/iDpSJ7faN1E5Ww?w=1" class="btn btn-outline"><i
                                        class="fa fa-download"></i>PDF</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/iDpSJ7faN1E5Ww?w=1" class="btn btn-outline"><i
                                        class="fa fa-download"></i>MP3 аудио</a>
                                <a target="_blank" href="https://disk.yandex.ru/d/iDpSJ7faN1E5Ww?w=1" class="btn btn-outline"><i
                                        class="fa fa-download"></i>M4B для айфонов</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <%- include('./components/footer.ejs', {path: './' }); %>
                <a id="scrollTop" class="scroll-to" href="body.html"><i class="icon-chevron-up"></i><i
                        class="icon-chevron-up"></i></a>
                <script src="./js/plugins.js"></script>
                <script src="./js/functions.js"></script>
</body>

</html>