<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Клуб 5 утра в Бишкеке | Челлендж ранних пробуждений</title>
    <meta name="description"
        content="Cтартует 21 дневный челлендж ранних подъемов. Необходимо просыпаться и отправлять отчет в группу в виде сэлфи, позитивного видео с прогулки в чат до 5:30 каждый день. Во время прохождения всего челленджа телеграм бот будет фиксировать ваши отчеты и мотивировать на ранние подъемы.">
    <link rel="icon" type="image/png" href="custom/icon.png">

    <link rel="stylesheet" type="text/css" href="./homepages/lawyer/css/lawyer-style.css" media="screen" />
    <script src="./js/jquery.js"></script>
    <link href="./css/plugins.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
        <%- include('./components/header.ejs', {path: './' }); %>


            <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">

                <div class="slide kenburns" style="background-image:url('./custom/main.jpg');">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="slide-captions text-center text-light">
                            <h1 style="opacity: 1;">ЧЕЛЛЕНДЖ РАННИХ ПРОБУЖДЕНИЙ</h1>

                        </div>
                    </div>
                </div>

            </div>

            <section class="box-fancy section-fullwidth p-b-0" style="padding: 0px;">
                <div class="row">
                    <div style="background-color:#bfbfbf" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">01.</h2>
                        <h4>Подготовка</h4>
                        <span>
                            Первая неделя ознакомительная, семь дней мы делимся полезными лайфхаками и информацией,
                            чтобы осознанно подойти к челленджу. Маттериалы по <a href="#">ссылке(пока не доступно)</a>
                            помогут вам
                            подготовиться в подготовительной неделе.
                        </span>
                    </div>
                    <div style="background-color:#d9d9d9" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">02.</h2>
                        <h4>Ранние подьемы 21 дней</h4>
                        <span>
                            После чего стартует 21 дневный челлендж ранних подъемов. Необходимо просыпаться и отправлять
                            отчет в группу в виде сэлфи, позитивного видео с прогулки в чат до 5:35 каждый день. Во
                            время прохождения всего челленджа телеграм бот будет фиксировать ваши отчеты и
                            мотивировать на ранние подъемы.
                        </span>
                    </div>
                    <div style="background-color:#f2f2f2" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">03.</h2>
                        <h4>Стань легендой клуба</h4>
                        <span>
                            После прохождения 21 дня пробуждений ты получишь сертификат о прохождении челленджа и
                            сможешь вернуть цену слова. Для тех кто продержался 21 день мы даем возможность попробовать
                            продолжить челенж еще 45 дней(66 дней суммарно) и получить звание легенды клуба 5 утра.
                        </span>
                    </div>
                </div>
            </section>

            <div class="call-to-action cta-center">
                <div class="col-lg-10">
                    <h4>Будь лучшей версией себя!</h4>
                    <p>Вы будете в кругу единомышленников которые будут помогать вам привить новую привычку!</p>
                </div>
                <div class="col-lg-2">
                    <a target="_blank" class="btn" href="https://wa.me/+996557996009?text=Здравствуйте, хочу войти в клуб 5 утра! Как можно стать участником клуба?">Войти в клуб 5 утра</a>
                </div>
            </div>

            <%- include('./components/footer.ejs', {path: './' }); %>
                <a id="scrollTop" class="scroll-to" href="body.html"><i class="icon-chevron-up"></i><i
                        class="icon-chevron-up"></i></a>
                <script src="./js/plugins.js"></script>
                <script src="./js/functions.js"></script>
</body>

</html>