<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Клуб 5 утра в Бишкеке | Челлендж ранних пробуждений</title>
    <meta name="description"
        content="Cтартует 21 дневный челлендж ранних подъемов. Необходимо просыпаться и отправлять отчет в группу в виде сэлфи, позитивного видео с прогулки в чат до 5:30 каждый день. Во время прохождения всего челленджа телеграм бот будет фиксировать ваши отчеты и мотивировать на ранние подъемы.">
    <link rel="icon" type="image/png" href="custom/icon.png">

    <link rel="stylesheet" type="text/css" href="./homepages/lawyer/css/lawyer-style.css" media="screen" />
    <script src="./js/jquery.js"></script>
    <link href="./css/plugins.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
        <%- include('./components/header.ejs', {path: './' }); %>


            <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">

                <div class="slide kenburns" style="background-image:url('./custom/main.jpg');">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="slide-captions text-center text-light">
                            <h1 style="opacity: 1;">ЧЕЛЛЕНДЖ РАННИХ ПРОБУЖДЕНИЙ</h1>

                        </div>
                    </div>
                </div>

            </div>

            <section class="box-fancy section-fullwidth p-b-0" style="padding: 0px;">
                <div class="row">
                    <div style="background-color:#bfbfbf" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">01.</h2>
                        <h4>Подготовка</h4>
                        <span>
                            Первая неделя ознакомительная, семь дней мы делимся полезными лайфхаками и информацией,
                            чтобы осознанно подойти к челленджу. Маттериалы по <a href="#">ссылке(пока не доступно)</a>
                            помогут вам
                            подготовиться в подготовительной неделе.
                        </span>
                    </div>
                    <div style="background-color:#d9d9d9" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">02.</h2>
                        <h4>Ранние подьемы 21 дней</h4>
                        <span>
                            После чего стартует 21 дневный челлендж ранних подъемов. Необходимо просыпаться и отправлять
                            отчет в группу в виде сэлфи, позитивного видео с прогулки в чат до 5:35 каждый день. Во
                            время прохождения всего челленджа телеграм бот будет фиксировать ваши отчеты и
                            мотивировать на ранние подъемы.
                        </span>
                    </div>
                    <div style="background-color:#f2f2f2" class="col-lg-4">
                        <h2 class="text-lg text-uppercase">03.</h2>
                        <h4>Стань легендой клуба</h4>
                        <span>
                            После прохождения 21 дня пробуждений ты получишь сертификат о прохождении челленджа и
                            сможешь вернуть цену слова. Для тех кто продержался 21 день мы даем возможность попробовать
                            продолжить челенж еще 45 дней(66 дней суммарно) и получить звание легенды клуба 5 утра.
                        </span>
                    </div>
                </div>
            </section>

            <div class="call-to-action cta-center">
                <div class="col-lg-10">
                    <h4>Будь лучшей версией себя!</h4>
                    <p>Вы будете в кругу единомышленников которые будут помогать вам привить новую привычку!</p>
                </div>
                <div class="col-lg-2">
                    <a target="_blank" class="btn"
                        href="https://wa.me/+996557996009?text=Здравствуйте, хочу войти в клуб 5 утра! Как можно стать участником клуба?">Войти
                        в клуб 5 утра</a>
                </div>
            </div>

            <section style="background-color: #f2f2f2; padding: 0px;">
                <div class="container">
                    <div class="call-to-action cta-center" style="margin-bottom: 0px;">
                        <h4>Что Тебя ждет в клубе 5 утра</h4>
                        <p>Цель группы помочь друг другу привить новую привычку</p>
                    </div>
                    <ul class="grid grid-5-columns">
                        <li style="padding: 5px; height: 300px;">
                            <img src="./custom/icon-3.png" alt="">
                            Группа единомышленников и окружение мотивирует работать и достигать больше
                        </li>
                        <li style="padding: 5px; height: 300px;">
                           <img src="./custom/icon-4.png" alt="">
                            Вы получите возможность встретиться 1 на 1 с другими учасниками которые вам будут интересны
                        </li>
                        <li style="padding: 5px; height: 350px;">
                            <img src="./custom/icon-6.png" alt="">
                            Для тех кто продержался 21 день мы даем возможность попробовать продолжить челенж еще
                            45 дней(66 дней суммарно) и получить звание легенды клуба 5 утра.
                        </li>
                        <li style="padding: 5px; height: 350px;">
                            <img src="./custom/icon-2.png" alt="">
                            Ты получишь сертификат о прохождении челленджа. Участники и куратор группы будет мотивировать тебя на ранние подъемы.
                        </li>
                    </ul>
                </div>
                <div class="call-to-action cta-center">
                    <div class="col-lg-10">
                        <h4>Будь лучшей версией себя!</h4>
                        <p>Вы будете в кругу единомышленников которые будут помогать вам привить новую привычку!</p>
                    </div>
                    <div class="col-lg-2">
                        <a target="_blank" class="btn"
                            href="https://wa.me/+996557996009?text=Здравствуйте, хочу войти в клуб 5 утра! Как можно стать участником клуба?">Войти
                            в клуб 5 утра</a>
                    </div>
                </div>
            </section>

           

         

            <section>
                <div class="container">
                    <div class="heading-text text-center">
                        <h4>Отзывы</h4>
                        <p class="lead text-center">Отзывы участников которые практиковали ранние подьемы</p>
                    </div>

                    <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left"
                        data-items="1">

                        <div class="testimonial-item">
                            <p style="margin: 0px; padding-top: 35px;">Недавно я выработала привычку раннего подъема. За
                                4 часа до начала рабочего дня. И
                                осталась очень довольна. Единственная проблема – никак я не могу пока структурировать
                                свое утро.</p>
                            <span style="margin: 0px;">Алина, участник клуба (1 группа)</span>
                        </div>

                        <div class="testimonial-item">
                            <img src="./custom/feedback-1.jpg" alt="">
                            <p>Теперь я без проблем просыпаюсь в 5 - 6 утра. Иногда даже без будильника. Самое сложное
                                это уговорить себя ложиться хотя бы в 23.00. </p>
                            <span>Кайрат, участник клуба (1 группа)</span>
                        </div>

                        <div class="testimonial-item">
                            <p style="margin: 0px; padding-top: 35px;">Иду в клуб на тренировку к 6ти утра 2 часа
                                занятий! правильное питание , спать не позднее
                                21:00, чувствую себя превосходно! </p>
                            <span style="margin: 0px;">Алибек, участник клуба (1 группа)</span>
                        </div>
                    </div>

                </div>
                
            </section>
            <div class="call-to-action cta-center">
                <div class="col-lg-2">
                    <a target="_blank" class="btn"
                        href="https://wa.me/+996557996009?text=Здравствуйте, хочу войти в клуб 5 утра! Как можно стать участником клуба?">Войти
                        в клуб 5 утра</a>
                </div>
            </div>


            <%- include('./components/footer.ejs', {path: './' }); %>
                <a id="scrollTop" class="scroll-to" href="body.html"><i class="icon-chevron-up"></i><i
                        class="icon-chevron-up"></i></a>
                <script src="./js/plugins.js"></script>
                <script src="./js/functions.js"></script>
</body>

</html>