<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="BEAST BOLOM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Добро пожаловать в клуба 5 утра | Бишкек</title>
    <meta name="description" content="Рад приветствовать всех вас в этой группе. Меня зовут Кайрат, я создал страницу
        www.5am-bishkek.club в феврале 2021 года.Одна из основных причин это поиск единомышленников">
    <link rel="icon" type="image/png" href="custom/icon.png">

    <link rel="stylesheet" type="text/css" href="./homepages/lawyer/css/lawyer-style.css" media="screen" />
    <script src="./js/jquery.js"></script>
    <link href="./css/plugins.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
        <%- include('./components/header.ejs', {path: './' }); %>



            <section>
                <div class="container">
                    <div class="row  m-b-50">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <h4>Приветсвие</h4>
                                    Рад приветствовать всех вас в этой группе. Меня зовут Кайрат, я создал страницу
                                    www.5am-bishkek.club в феврале 2021 года.<br><br>Одна из основных причин это поиск
                                    единомышленников которые позитивно повлияли бы на меня и помогли мне развить
                                    полезные привычки. Последние 2 года я чувствую стагнацию и наверное совсем недавно я
                                    начал искать клубы/группы, где окружение
                                    мотивирует работать и достигать больше. В Бишкеке не было таких клубов или групп
                                    . Я решил создать клуб ранних подъемов. И очень рад, что смог
                                    быстро собрать группу единомышленников.
                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <h4>Что будет дальше</h4>
                                    - Так как цель группы помочь привить новую привычку, во-первых мы будем
                                    отчитываться телеграм боту по утрам. Проснулись вы или нет будет проверять телеграмм
                                    бот, который каждый день будет спрашивать очень простой вопрос ровно в 5:30 утра и
                                    еще один вопрос в течении следующих 3 часов, чтобы убедиться что вы не пошли спать
                                    сразу после первого ответа. На первый вопрос нужно ответить в течении 5 минут, на
                                    второй вопрос можно будет ответить в течении часа. <br><br>
                                    - Вторая цель группы это найти единомышленников которые помогут тебе стать лучше. У
                                    вас будет возможность нетворка. Во время программы вы сможете выбрать одного или
                                    двух участников с которыми вы хотите встретиться 1 на 1 и обсудить все что угодно
                                    (работу/цели/хобби/утренние ритуалы). Вы сами будете выбирать участников с которыми
                                    вам интересно встретиться. Я искренне верю что люди в этой группе это самая большая
                                    ценность.<br><br>
                                    - В первой группе которая была в феврале, было много участников которые бегали по
                                    утрам. Мы решили сделать это одним из ритуалов и 2 раза в
                                    неделю(понедельник/пятницу) будем проводить
                                    утренние пробежки на Эркиндик бульвар.<br><br>
                                    - Одно из требований это 2 раза в неделю отправлять фото/видео отчет с
                                    с утренними ритуалами, c утренних тренировок или просто мотивационной речью с
                                    утренних подъёмов. Если вы проснулись и отправили фото/видео отчет, это мотивация
                                    для других. Вы можете так же рассказывать
                                    о своих достижениях или целях и на самом деле все что угодно если вы считаете что
                                    это принесет пользу другим. Sharing is caring!<br><br>

                                    К концу челленджа мы сможем познакомиться с друг другом поближе и обрести новых
                                    знакомых/друзей.
                                </div>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <h4>Подготовка</h4>
                                    Возможно кому то будет не просто в начале, но результат через месяц вас порадует,
                                    если приложите к этому свои усилия. Мы все разные. Кто-то уже привык просыпаться
                                    рано, но делает это не регулярно, а кто-то под утро только ложится спать.
                                    <br><br>
                                    Первые 3 дня в режиме лайт(6 - 8 марта включительно). Эти 3 дня не идут в зачет, но
                                    проснуться желательно до 5:30 утра. Если вдруг вам что либо не понравилось или вы
                                    передумали, вы можете сообщить об этом куратору группы <a target="_blank"
                                        href="https://wa.me/+996557996009?text=Здравствуйте, хочу вернуть деньги.">0557996009</a>
                                    до вечера понедельника(8
                                    марта). Я верну вам цену слова (500 сом), которые вы внесли.
                                    <br><br>
                                    Ниже мы собрали видео обзоры которые мы посчитали будут полезны для вас. Пожалуйста посмотрите!
                                    <br><br>
                                    - <a target="_blank" href="https://www.youtube.com/watch?v=6FlIi3k79hY">Очень важна
                                        ваша
                                        цель</a><br>
                                    - <a target="_blank" href="https://www.youtube.com/watch?v=MSGNcSFnreI&t=62s">Зачем
                                        я встаю в 4
                                        утра?</a><br>
                                    - <a target="_blank" href="https://www.youtube.com/watch?v=8PuwGh5sVEA">Утренняя
                                        Мотивация</a><br>
                                    - <a target="_blank" href="https://www.youtube.com/watch?v=E5xHLBL0b4s">Интересный
                                        отзыв</a><br>
                                    <br>
                                    Очень рекомендую прочитать книгу "Магия утра" и/или "Клуб 5 утра", книги есть в
                                    электронном
                                    и аудио форматах на сайте <a target="_blank"
                                        href="https://www.5am-bishkek.club/magiya-utra-skachat">тут книги</a>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./components/footer.ejs', {path: './' }); %>
                <a id="scrollTop" class="scroll-to" href="body.html"><i class="icon-chevron-up"></i><i
                        class="icon-chevron-up"></i></a>
                <script src="./js/plugins.js"></script>
                <script src="./js/functions.js"></script>
</body>

</html>