<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="BEAST BOLOM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Правила клуба 5 утра | Просыпаться рано Бишкек</title>
    <meta name="description"
        content="Мы отправим вам видеоматериалы с ютуб и книги которые будут полезны для подготовки к ранним подъемам в 5 утра.">
    <link rel="icon" type="image/png" href="custom/icon.png">

    <link rel="stylesheet" type="text/css" href="./homepages/lawyer/css/lawyer-style.css" media="screen" />
    <script src="./js/jquery.js"></script>
    <link href="./css/plugins.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
        <%- include('./components/header.ejs', {path: './' }); %>



            <section>
                <div class="container">
                    <div class="row  m-b-50">
                        <div class="col-lg-3">
                            <div class="heading-text heading-section">
                                <h2>ПРАВИЛА</h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Как вступить в группу?</strong><br>
                                    Что бы вступить в чат ранних подъемов нужно оплатить символическую сумму 500
                                    сом(ЦЕНА СЛОВА) которые мы
                                    вам вернём при прохождении 21 дня челенжа.
                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Почему я должен платить?</strong><br>
                                    Это нужно чтобы мы могли отсеять тех кто
                                    будет относиться к челленджу несерьезно. Сумма символическая, 500 сом(ЦЕНА СЛОВА)
                                    которые мы вам вернём при прохождении 21 дня челенжа.
                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Куда оплатить?</strong><br>
                                    Оплату можно произвести по реквизитам ниже на ФИО - Талантбеков Кайрат
                                    Талантбекович.<br><br>
                                    <div>
                                        <li>4169 5853 4406 4018 (Оптима Банк)</li>
                                        <li>1180000064556740 (Демир Банк)</li>
                                        <li>0556018822 (ЭЛСОМ)</li>
                                    </div><br>
                                    В случае «обнуления» либо схождения с дистанции, деньги остаются в фонде клуба.
                                    Если же вы захотите попробовать себя еще раз, то необходимо внести свой денежный
                                    вклад заново.

                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Что будет после оплаты?</strong><br>
                                    Мы отправим вам видеоматериалы с ютуб и книги которые будут полезны для подготовки к
                                    ранним подъемам. Так как эта первая группа ранних подъемов, на данный момент
                                    материалов не так много, но этот список будет пополняться со временем.
                                    <br>В пятницу вечером (12 февраля) мы добавим вас в группу в телеграмме где вы
                                    сможете познакомиться с другими участниками челенжа. Количество участников в группе
                                    ограничено до 20 человек.
                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Как будет проходить челлендж?</strong><br>
                                    У нас будет общий чат, где мы сможем отправлять отчеты в группу в виде селфи,
                                    позитивного видео с прогулки или делиться лайфхаками и ощущениями.
                                    <br><br>
                                    Для участия в челлендже вам нужно иметь мессенджер “Телеграмм”. Проснулись вы или
                                    нет будет проверять телеграмм бот, который каждый день будет спрашивать очень
                                    простой вопрос ровно в 5:30 утра и еще один вопрос в течении следующих 3 часов,
                                    чтобы убедиться что вы не пошли спать сразу после первого ответа. На первый вопрос
                                    нужно ответить в течении 5 минут, на второй вопрос можно будет ответить в течении
                                    часа.
                                    <br><br>
                                    Чтобы успешно пройти челлендж нужно 21 день успешно пройти все 21 дней с
                                    возможностью 1 раз не сдать отчет вовремя. 2 пропуска - вылет из группы.
                                    <br><br>
                                    Так как эта первая группа сейчас мне очень тяжело сказать как будет проходить все 21
                                    дней челленджа, но с уверенностью могу сказать что вы будете в кругу
                                    единомышленников которые будут помогать вам привить новую привычку!

                                </div>
                                <br>
                                <div class="col-lg-12" style="margin-bottom: 10px; font-size: 120%;">
                                    <strong>Что будет после 21 дня?</strong><br>
                                    <div>
                                        <li>Ты получишь сертификат о прохождении челленджа и будешь в списке тех кто
                                            прошел это
                                            испытание.</li>
                                        <li>Ты сможешь вернуть цену слова(500 сом).</li>
                                        <li>Для тех кто продержался 21 день мы даем возможность попробовать продолжить
                                            челенж еще 45 дней(66 дней суммарно) и получить звание легенды клуба 5 утра.
                                        </li>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./components/footer.ejs', {path: './' }); %>
                <a id="scrollTop" class="scroll-to" href="body.html"><i class="icon-chevron-up"></i><i
                        class="icon-chevron-up"></i></a>
                <script src="./js/plugins.js"></script>
                <script src="./js/functions.js"></script>
</body>

</html>