<div class="sidebar-wrapper sidebar-theme">
            
    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">
            

            <li class="menu">
                <a href="#books" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Книги</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="books" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/add-books">Добавить книгу</a>
                    </li>
                    <li>
                        <a style="margin-left: 0px;" href="/admins/all-books">Редактировать</a>
                    </li>
                    <li>
                        <a style="margin-left: 0px;" href="/admins/upload-books">Парсинг с файла</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#publishers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Издательства</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="publishers" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/add-publishers">Добавить издателя</a>
                    </li>
                    <li>
                        <a style="margin-left: 0px;" href="/admins/all-publishers">Редактировать</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#instock" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>В наличии</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="instock" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/upload-instock">Добавить файл</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#sales" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Акционные</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="sales" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/upload-sales">Добавить файл</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#novelty" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Новинки</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="novelty" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/upload-novelties">Добавить файл</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#bestsellers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Бестселлеры</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="bestsellers" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/upload-bestsellers">Добавить файл</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#orders" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Заявки</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="orders" data-parent="#accordionExample">
                    <li>
                        <a style="margin-left: 0px;" href="/admins/orders-new">Новые заявки</a>
                    </li>
                    <li>
                        <a style="margin-left: 0px;" href="/admins/orders-old">Обработанные</a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </nav>

</div>